/* View */

.view {
  margin: 2em 2em;
}

/* Header */

header {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-github {
  opacity: 0.8;
  animation: fade-color1 5s ease-in-out infinite alternate;
}

.fa-codepen {
  opacity: 0.8;
  animation: fade-color2 5s ease-in-out infinite alternate;
}

.fa-dribbble {
  opacity: 0.8;
  animation: fade-color3 5s ease-in-out infinite alternate;
}

i[class^="fa"]:hover {
  animation-play-state: paused;
  opacity: 1;
}

@keyframes fade-color1 {
  0% {
    color: #0de999;
  }
  100% {
    color: #0049dd;
  }
}
@keyframes fade-color2 {
  0% {
    color: #4db8d1;
  }
  100% {
    color: #066e86;
  }
}
@keyframes fade-color3 {
  0% {
    color: #066e86;
  }
  100% {
    color: #966a90;
  }
}

/* Image Container */

.image-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-auto-flow: row dense;
}

img {
  background-color: gray;
  color: transparent;
}

img:nth-of-type(2n + 1) {
  grid-column: span 2;
  animation-timing-function: ease-in-out;
  animation-duration: 0.6s;
}

.fadeIn {
  cursor: pointer;
  transform: translateY(10vh);
  animation: 0.3s fadeIn ease-in forwards;
}

img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Individual Post Page */

.post {
  text-align: center;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image"
    "title"
    "content"
    "form"
    "list";
}

.post-image {
  grid-area: image;
  height: 50vh;
}

.post-title {
  grid-area: title;
}

.post-content {
  grid-area: content;
}

.comment-form {
  margin: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-area: form;
}

.comment-list {
  grid-area: list;
}

.comment-list li {
  margin: 1em;
}

.comment-form input {
  background: #000;
  display: inline-block;
  border: none;
  outline: none;
  color: greenyellow;
  border-bottom: 0.5px dotted rgb(206, 206, 207);
  font-size: 2em;
  transition: all 0.3s ease-in-out;
  width: 25vw;
}

.comment-form input:focus {
  width: 35vw;
  border-bottom-color: greenyellow;  
}

/* LikeButton.js */

.Button__Like {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  background: #fff;
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  user-select: none;
  box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0,32,128,.15);
  transition: all.2s ease-out;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  border: 1px solid rgba(0,32,128,.1);
  outline: 0;
  color: black;
}

.Button__Like:hover {
  transform: scale(1.1);
  box-shadow: 0 0.8rem 1.6rem -0.2rem rgba(0,32,128,.15);
  color: #075599;
}

.Button__Like:focus {
  box-shadow: 0 2rem 4rem -0.4rem rgba(0,32,128,.15), 0 0 6px 6px #075599;
  outline-style: none;
  color: rgb(8, 118, 244);
}

.Button__Like:active {
  box-shadow: 0 1rem 2rem -0.4rem rgba(0,32,128,.15), 0 0 6px 6px rgb(72, 72, 172);
  color: rgb(72, 72, 172);
  transform: scale(0.99);
  color: transparent;
}

.like-count {
  position: absolute;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  color: hotpink;
  opacity: 0;
  transition: opacity .1s ease-in;
}

.like-count-show {
  position: absolute;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  color: hotpink;
  opacity: 0;
  animation: showAndHide 1s ease-in;
}

@keyframes showAndHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
