/* Shared Components */

.scale-loader {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* View */

.Container {
  margin: 2em 2em;
}

/* Header */

header {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-github {
  opacity: 0.8;
  animation: rotate-color1 5s ease-in-out infinite alternate;
}

.fa-codepen {
  opacity: 0.8;
  animation: rotate-color2 5s ease-in-out infinite alternate;
}

.fa-dribbble {
  opacity: 0.8;
  animation: rotate-color3 5s ease-in-out infinite alternate;
}

i[class^="fa"]:hover {
  animation-play-state: paused;
  opacity: 1;
}

@keyframes rotate-color1 {
  0% {
    color: #0de999;
  }
  100% {
    color: #0049dd;
  }
}

@keyframes rotate-color2 {
  0% {
    color: #4db8d1;
  }
  100% {
    color: #066e86;
  }
}

@keyframes rotate-color3 {
  0% {
    color: #066e86;
  }
  100% {
    color: #966a90;
  }
}

/* App.js */

.Video__Container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  align-items: stretch;
  overflow: hidden;
}

video {
  object-fit: cover;
  width: 100%;
  background: gray;
}

/* video:nth-of-type(2n + 1) {
  grid-column: span 2;
  grid-row: span 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.6s;
} */

.fade-in {
  cursor: pointer;
  transform: translateY(10vh);
  animation: 0.3s fade-in ease-in forwards;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Post.js */

.Post {
  text-align: center;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "video"
    "title"
    "content"
    "form"
    "list";
}

.Post__Video {
  grid-area: video;
  height: 500px;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
}

.Post__Title {
  grid-area: title;
}

.Post__Content {
  grid-area: content;
}

/* Comment Components */

.Comment__Form {
  margin: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-area: form;
}


.Comment__Form input {
  background: #000;
  display: inline-block;
  border: none;
  outline: none;
  color: greenyellow;
  border-bottom: 0.5px dotted rgb(206, 206, 207);
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  width: 25vw;
}

.Comment__Form input:focus {
  width: 35vw;
  border-bottom-color: greenyellow;  
}

.Comment__List {
  grid-area: list;
}

.Comment__List li {
  margin: 1em;
}

/* LikeButton.js */

.Button__Like {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  background: #fff;
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  user-select: none;
  box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0,32,128,.15);
  transition: all.2s ease-out;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  border: 1px solid rgba(0,32,128,.1);
  outline: 0;
  color: black;
}

.Button__Like:hover {
  transform: scale(1.1);
  box-shadow: 0 0.8rem 1.6rem -0.2rem rgba(193, 205, 240, 0.15);
  color: #075599;
}

.Button__Like:focus {
  box-shadow: 0 2rem 4rem -0.4rem rgba(0,32,128,.15), 0 0 6px 6px #075599;
  outline-style: none;
  color: rgb(8, 118, 244);
}

.Button__Like:active {
  box-shadow: 0 1rem 2rem -0.4rem rgba(0,32,128,.15), 0 0 6px 6px rgb(72, 72, 172);
  color: rgb(72, 72, 172);
  transform: scale(0.99);
  color: transparent;
}

.Button__Like--Count {
  position: absolute;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  color: hotpink;
  opacity: 0;
  transition: opacity .1s ease-in;
}

.Button__Like--Count__Show {
  position: absolute;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  color: hotpink;
  opacity: 0;
  transform: scale(1.5);
  animation: show-and-hide-like-count 1s ease-in;
}

@keyframes show-and-hide-like-count {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media Queries */

@media (max-width: 600px) {
  .Post__Video {
    height: 400px;
  }
}

@media (max-width: 500px) {
  .Post__Video {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .Post__Video {
    height: 250px;
  }
}

@media (max-width: 330px) {
  .Post__Video {
    height: 200px;
  }
}

